@import 'styles/settings';

.c-note {
  padding: 30px 20px;
  box-sizing: border-box;
  max-width: 303px;
  border: 1px solid rgba($black ,0.1);
  border-radius: 10px;
  background-color: #E5E5E5;
  color: #221F32;
  font-family: $font-family-2;
  font-size: 14px;

  .title {
    padding-bottom: 10px;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;

    span {
      font-weight: bold;
    }
  }
}
