@import 'styles/settings';
@import 'styles/mixins';

.c-nav-menu {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: $font-family-1;
  line-height: 19px;

  .nav-menu-item {
    padding-right: 50px;

    > a {
      text-decoration: none;
    }
  }

  &.header {
    color: rgba($color-grey-8, 0.5);

    h3 {
      box-sizing: border-box;
      position: relative;
      color: rgba($color-grey-8, 0.5);

      &.-active {
        color: $color-3;

        &:before {
          content: '';
          position: absolute;
          bottom: -10px;
          width: 30px;
          border-radius: 2.5px;
          height: 5px;
          background-color: $color-2;
          margin: auto;
          z-index: 2;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .dropdown {
      position: relative;
      margin-right: 5px;

      .dropdown-list {
        background-color: $white;
        display: none;
      }

      &:hover {
        color: rgba($color-grey-8, 1);

        .dropdown-list {
          box-sizing: border-box;
          padding: 20px;
          display: none;
          flex-direction: column;
          position: absolute;
          left: -20px;
          min-width: 200px;
          > li {
            padding: 10px 0;
          }
        }
      }

      h3 {
        &:after {
          position: absolute;
          top: 50%;
          right: -20px;
          @include arrow(9px,2px, $black, 'down');
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }

  &.footer {
    align-items: flex-start;
    justify-content: flex-start;
    padding: $padding 0;

    h3 {
      color: $white;
      font-weight: bold;
      padding-bottom: 10px;
    }

    a {
      color: $white;
    }

    .dropdown-list {
      background-color: $color-grey-8;
      line-height: 30px;
    }

    @media (max-width: map-get($breakpoints, sm)) {
      flex-direction: column;
    }
  }
}
