@import 'styles/settings';

.c-share {
  z-index: $z-index-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  pointer-events: none;

  .share-content {
    h2 {
      padding: 15px 0;
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
    }

    .share-controls {
      display: flex;
      justify-content: center;
      padding: 20px 0;

      input {
        padding: 10px;
        margin-right: 8px;
        min-width: 300px;
        position: relative;
        border-radius: $border-radius;
        box-shadow: 0 4px 12px 0 rgba($black, 0.08);
      }

      button {
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
      }
    }
  }
}
