@import 'styles/settings';

.c-button {
  padding: 10px 20px;
  border-radius: 7px;
  color: $white;
  font-family: Allen;
  line-height: 16px;

  &.primary {
    background-color: $color-1;
  }

  &.secondary {
    background-color: $color-2;
  }

  &.big {
    padding: 20px;
  }

  &.disabled {
    border: 1px dashed rgba(#1C1B27, 0.4);
    border-radius: $border-radius;
    color: $color-grey-5;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
  }
}

