@import 'styles/settings';

.c-button {
  padding: 10px 20px;
  border-radius: 7px;
  font-family: Arial;
  line-height: 16px;

  &.dark {
    background-color: $black;
    color: $white;
  }

  &.light {
    background-color: $white;
    color: $black;
  }
}

