@import 'styles/settings';
@import 'styles/mixins';

.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
  border-radius: 9px;
  color: $white;
  line-height: 19px;
  font-size: 16px;
  font-family: $font-family-1;
  text-align: center;
  box-sizing: border-box;

  // ** MODIFIERS ** //

  // Theme

  &.-background {
    &.-primary {
      color: $color-3;
      background-color: $color-1;
    }

    &.-secondary {
      background-color: $color-2;
      border: none;
    }

    &.-tertiary {
      background-color: $color-grey-1;
      color: $color-grey-8;
    }
  }

  &.-border {
    box-sizing: border-box;
    color: $color-grey-8;
    font-weight: bold;
    line-height: 20px;

    &.-primary {
      padding: 1px 5px;
      border: 2px solid rgba($color-2, 0.5);
    }

    &.-secondary {
      border: 2px solid rgba($color-grey-8, 0.5);
      box-shadow: 0 4px 12px 0 rgba($color-3, .02);
    }

    &.-tertiary {
      color: $white;
      border: 2px solid $white;
    }
  }

  // Size

  &.-huge {
    padding: 30px;
    min-width: 160px;
    font-size: 14px;
  }

  &.-big {
    padding: 20px;
    min-width: 160px;
  }

  &.-medium {
    font-size: 14px;
    padding: 5px 30px;
  }

  &.-small {
    font-size: 14px;
    border-radius: 3px;
    padding: 3px 5px;
  }

  // Functionality

  &.-download {
    border: 1px dashed rgba($color-grey-8, 0.4);
    border-radius: $border-radius;
    color: $color-grey-5;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

    &.-collapse {
      color: $color-grey-8;

      &.-small {
        position: relative;
        height: 45px;
        width: 45px;
        border-radius: $border-radius;
        background-color: $white;
        box-shadow: 0 4px 12px 0 rgba($black, .08);

        &:after {
          position: absolute;
          top: 18px;
          left: 18px;
          @include arrow(9px,2px, $color-grey-8, 'down');
        }
      }
    }
  }
  &.-disable {
    opacity: 0.5;
  }

  * {
    margin-right: 15px;
  }
}

