@import 'styles/settings';

.c-map-container {
  width: 100vw;
  height: calc(100vh - 180px); //header and search height
  position: relative;

  // Mapbox override
  :global(.mapboxgl-ctrl-group:not(:empty)) {
    border-radius: $border-radius;
    margin-bottom: 5px;
  }

  :global(.mapboxgl-ctrl-group > button) {
    background-color: white;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    margin: 10px;
  }

  .mapboxgl-ctrl {
    margin-left: 8px;

  }
  .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  }

}
