@import 'styles/settings';

.c-map-container {
  width: 100vw;
  height: calc(100vh - 180px); //header and search height
  position: relative;

  .map-controls {
    position: absolute;
    right: 100px;
    top: 20px;

    .map-share {
      > button {
        width: 100%;
        height: 100%;
      }
    }

    // Mapbox override

    .mapboxgl-ctrl {
      > button {
        &.mapboxgl-ctrl-zoom-in,
        &.mapboxgl-ctrl-zoom-out {
          position: relative;
          width: 100% !important;
          height: 50% !important;

          > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .mapboxgl-ctrl-group:not(:empty) {
      width: 45px;
      border-radius: $border-radius;
      box-shadow: 0 4px 12px 0 rgba($black, .08);
    }

    .mapboxgl-ctrl-group > button {
      border: none;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .mapboxgl-ctrl-group {
      margin: 10px;
    }

    .map-navigation {
      height: 70px;

      > button[title='Zoom In'] {
       // background-image: url('') !important;
      }

      > button[title='Zoom Out'] {
        border: none;
       // background-image: url('') !important;

      }

      > button[title='Reset North'] {
        display: none;
      }
    }

    .map-share {
      height: 45px;
    }

    .map-fullscreen {
      display: none;
    }
  }
}

