@import 'styles/settings';

.c-populations-message {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0px;
  z-index: 1;

  .populations-message--content {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    border-radius: 0 0 10px 10px;
    background-color: $color-grey-5;
    color: $white;
    font-weight: bold;
    padding: 15px 30px;
  }
}
