@import 'styles/settings';

.c-data-controls {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 100px 0;

  .data-filters {
    display: flex;
    align-items: center;

    :first-child {
      margin-right: 20px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -120px;
    left: 0;
    background-color: $color-grey-3;
  }
}
