@import 'styles/settings';

.c-data-controls {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;

  :after {
    content: '';
    position: absolute;
    top: 125px;
    height: 2px;
    width: 100vw;
    background-color: $color-grey-3;
  }

  .data-filters {
    display: flex;
    align-items: center;

    :first-child {
      margin-right: 20px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -120px;
    left: 0;
    background-color: $color-grey-3;
  }
}
