@import 'styles/settings';

.c-population-trend {
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;

  &.-collapse {
    tbody {
      tr:not(:first-child) {
        display: none;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: rgba($color-grey-8, 0.5);
  }
};
