@import 'styles/settings';

@font-face {
  font-family: 'Chalet';
  font-weight: $font-weight-medium;
  src: font-url('/typography/ChaletNewYorkNineteenSixty.ttf') format('truetype');
}

.c-number-of-services {
  p {
    color: $color-1;
    font-size: 13px;
    margin: 20px 0;
    font-weight: 600;
  }
}


