@import 'styles/settings';

.l-species-population {
  display: flex;
  flex-direction: column;

  .content {

    h2 {
      font-size: 28px;
      line-height: 43px;
      margin-top: 20px;
    }
    p {
      line-height: 26px;
      margin: 20px 0;

      a {
        color: $color-2;
      }
    }
  }

  .locations {
    color: #393F44;
    font-size: 12px;
    line-height: 17px;

    > h3 {
      margin: 20px 0;
      font-weight: bold;

      > span {
        margin-left: 10px;
        position: relative;

        &::before {
          content: '-';
          color: $black;
          position: absolute;
          left: -10px;

        }
      }
    }
  }
}
