@import './settings.scss';

body {
  background-color: $color-7;
  line-height: $body-line-height;
  font-family: $font-family-1;
}

button {
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

strong {
  font-weight: bold;
}


a {
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
