/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Aller";

  src: url("./fonts/AllerRg.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AllerRg.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Aller";

  src: url("./fonts/AllerBd.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AllerBd.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Aller";

  src: url("./fonts/AllerLt.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AllerLt.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Aller";
  src: url("./fonts/AllerIt.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AllerIt.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}
