// Colors
$white:      #fff !default;
$black:      #000 !default;

$color-1: #BFD630;
$color-2: #0282B0;

// Greys
$color-grey-1: #E5E5E5;
$color-grey-2: #F2F2F2;
$color-grey-3: #D8D8D8;

$color-grey-4: #979797;
$color-grey-5: #3F3C4D;
$color-grey-6: #222222;
$color-grey-7: #1D1C2B;
$color-grey-8: #1C1B27;


// Font
$body-line-height: 26px;
$font-family-1: 'Aller';
$font-family-2: 'Open Sans', sans-serif;

$font-family-bold: 'Aller-Bold';

// Spacing

$padding: 50px;


// Border

$border-radius: 10px;

// // Breakpoints
// $grid-breakpoints: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $grid-breakpoints: map-merge(
//   (
//     xs: 0,
//     sm: ,
//     md: ,
//     lg: ,
//     xl:
//   ),
//   $grid-breakpoints
// );

// z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 10;
