// Colors
$white:      #fff !default;
$black:      #000 !default;

$color-1: #E5E5E5;
$color-2: #0282B0;
$color-3: #BFD630;
$color-4: #3F3C4D;
$color-7: #222222;
$color-6: #1C1B27;

// Font
$body-line-height: 26px;
$font-family-1: Allen;


//Spacing

$padding-wrapper: 50px 100px;


// // Breakpoints
// $grid-breakpoints: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $grid-breakpoints: map-merge(
//   (
//     xs: 0,
//     sm: ,
//     md: ,
//     lg: ,
//     xl:
//   ),
//   $grid-breakpoints
// );

// z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 10;
