// Colors
$white:      #fff !default;
$black:      #000 !default;

$header-color: #E5E5E5;
$background-color: #222222;

// Font
$body-line-height: 26px;
$main-font: Arial;


//Spacing

$padding-wrapper: 50px 100px;


// // Breakpoints
// $grid-breakpoints: () !default;
// // stylelint-disable-next-line scss/dollar-variable-default
// $grid-breakpoints: map-merge(
//   (
//     xs: 0,
//     sm: ,
//     md: ,
//     lg: ,
//     xl:
//   ),
//   $grid-breakpoints
// );

// z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 10;



// darker grey #373737
