@import 'styles/settings';

.l-static {
  background-image: url('/images/ostralegus.png');
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  width: 100%;
  padding: 100px;
  font-family: $font-family-1;

  h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 73px;
    color: $white;
    text-align: center;
    padding-bottom: 80px;
  }
}
