@import 'styles/settings';

.l-static {
  background-color: $color-grey-2;
  padding: 100px;

  h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 73px;
    color: $white;
    text-align: center;
    padding-bottom: 80px;
  }

  p {
    line-height: 26px;
  }
}
