@import 'styles/settings';

.c-card {
  box-sizing: border-box;
  border: 1px solid rgba($color-grey-4, 0.26);
  border-radius: 42px;
  background-color: $white;
  box-shadow: -2px 0 20px 0 rgba(0,0,0,0.09), 2px 0 20px 0 rgba(0,0,0,0.05);
  position: relative;
  font-family: $font-family-1;
  margin: auto;
  max-width: 900px;

  .card-content {

    h2 {
      font-size: 28px;
      line-height: 43px;
    }

    p {
      line-height: 26px;
      margin: 20px 0;

      a {
        color: $color-2;
      }
    }

    > div {
      padding: 50px 75px;
    }

    .card-intro {
      display: grid;
      grid-template-columns: 4fr 2fr;

      h3 {
        color: $color-grey-8;
        font-family: $font-family-1;
        font-size: 28px;
        line-height: 43px;
      }
    }

    ol {
      list-style: decimal;
      list-style-position: inside;

      div {
        span {
          display: inline;
          font-weight: bold;
        }
      }
    }

    li {
      padding-bottom: 20px;
     }

    // Tabs specific

    &.PE {
      ul {
        position: relative;

        li {
          font-size: 16px;
          line-height: 26px;
          list-style-type: disc;
          list-style-position: inside;

          span {
            position: relative;
            left: -10px;
          }
        }

        &:before {
          content: none;
        }
      }
    }

    &.SP {

      ul {
        position: relative;
        margin-top: 20px;

        li {
          font-size: 12px;
          line-height: 17px;
        }

        &:before {
          content: '';
          position: absolute;
          top: -20px;
          width: 100%;
          height: 1px;
          background-color: $color-grey-3;
        }
      }
    }

    &.conservation-framework {

      ul {
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $padding;

        li {
          display: flex;
          padding-bottom: $padding;
          align-items: center;

          p {
            padding-left: 40px;
          }

          img {
            max-height: 50px;
          }
        }
      }
    }

    &.WAF {
      position: relative;

      div {
        position: relative;
        margin-bottom: 30px;

        &.image-container {
          min-height: 400px;

          img {
            margin-left: -75px;
            margin-bottom: 20px;
            width: calc(100% + 150px);
          }
        }
      }
    }

    &.WAW {
      .intro-container {
        display: grid;
        grid-template-columns: 60% 30%;
        position: relative;

        .intro-image {
          position: absolute;
          width: 250px;
          height: auto;
          top: -50px;
          right: -75px;

          @media (max-width: map-get($breakpoints, lg)) {
            display: none;
          }
        }
      }

      .text-image {
        width: 75%;

        @media (max-width: map-get($breakpoints, lg)) {
          width: 100%;
        }
      }

      figure {
        &.image-container {
        min-height: 400px;

        img {
          margin-left: -75px;
          margin-bottom: 20px;
          width: calc(100% + 150px);
        }
      }
      }

      .full-width {
        width: 100%;
      }
    }

    &.WIWP {
      .img-container {
        display: flex;
        padding: 50px 0;

        img {
          max-height: 150px;
          margin-left: -75px;
          border-radius: 0 10px 10px 0;
        }

        .image-text-container {
          padding-left: $padding;
          max-width: 250px;
          max-height: 150px;

          p {
            margin-top: 0;
          }

          .img-text {
            color: rgba($color-grey-8, 0.5);
            font-size: 16px;
            font-style: italic;
            line-height: 26px;
          }
        }
      }
    }

    &.ec {

      ul {
        margin: 20px 0;
      }

      li {

        padding-bottom: 0;
      }

      h4 {
        line-height: 32px;
        font-weight: bold;
      }

      p {
        margin-top: 0;
        line-height: 32px;
      }
    }

    &.fs {

      ul {
        margin: 20px 0;
      }
    }
  }
}
