@import 'styles/settings';

.c-card {
  background-color: $white;
  border-radius: 7px;
  width: 100%;
  height: 100%;

  .card-navigation {
    overflow: hidden;
  }

  .card-intro {
    display: grid;
    grid-template-columns: 4fr 2fr;
  }
}
