@import 'styles/settings';

.c-card {
  box-sizing: border-box;
  border: 1px solid rgba($color-grey-4, 0.26);
  border-radius: 42px;
  background-color: $white;
  box-shadow: -2px 0 20px 0 rgba(0,0,0,0.09), 2px 0 20px 0 rgba(0,0,0,0.05);
  position: relative;
  font-family: $font-family-1;
  margin: auto;
  max-width: 900px;

  .card-content {

    > div {
      padding: 50px 75px;
    }

    .card-intro {
      display: grid;
      grid-template-columns: 4fr 2fr;

      h3 {
        color: $color-grey-8;
        font-family: $font-family-1;
        font-size: 28px;
        line-height: 43px;
      }
    }
  }

  // Specific

  // WAW
  .card-hero {
    display: grid;
    grid-template-columns: 60% 30%;


    img {
      position: absolute;
      max-height: 440px;
      top: -50px;
      right: -75px;
    }
  }
}
