@import 'styles/settings';

.c-data-results {

  .results-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    h1 {
      font-size: 24px;
      line-height: 29px;
    }

    h2 {
      font-size: 18px;
      line-height: 21px;

      span {
        &.name {
          color: $color-2;
        }
      }
    }

    span {
      padding-right: 15px;

      &.-cientific {
        font-weight: bold;
      }

      &.-specific {
        font-style: italic;
      }

      &.tag {
        border-radius: 4px;
        padding: 5px 10px 5px 25px;
        color: $white;
        font-size: 10px;
        line-height: 11px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          border-radius: 50%;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          height: 6px;
          width: 6px;
          background-color: $white;
        }
      }
    }

    button {
      box-sizing: border-box;
      border: 2px solid rgba($color-grey-8, 0.2);
      border-radius: 3px;
      padding: 0px 20px;
      line-height: 21px;
    }
  }

  .results-detail {
    .results-description {
      display: flex;
      justify-content: flex-start;
      font-size: 16px;
      line-height: 26px;
      padding-bottom: 40px;

      &.-hidden {
        display: none;
      }

      * {
        margin-right: 50px;
      }

      img {
        height: 105px;
        width: 105px;
        border: 1px solid rgba($color-grey-4, 0.65);
        border-radius: 10px;
      }

      p {
        max-width: 700px;
      }
    }
    &.-hidden {
      display: none;
    }
  }
}
