@import 'styles/settings';

.c-basemap-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0 1px 4px 0 rgba($black, 0.5);
  }
}
