@import 'styles/settings';

.images-modal {
  display: flex;
  height: 100%;

  .content {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;

    img {
      width: 90%;
      height: auto;
    }
  }
}

