@import 'styles/settings';

.c-header {
  position: fixed;
  height: 85px;
  width: 100%;
  background-color: $color-1;
  display: flex;
  justify-content: space-between;

  .header-navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
