@import 'styles/settings';

.c-card-info {
  display: flex;
  flex-direction: column;
  font-family: $font-family-1;
  padding: 20px;
  position: relative;
  text-decoration: none;
  margin-bottom: 20px;
  @include card-background;

  .card-header {
    display: flex;

    .card-title {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 20px;

      .title {
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        h4 {
          font-size: 18px;
          line-height: 21px;
          padding-right: 10px;

          &.subtitle {
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }

        span {
          position: relative;
          border-radius: 4px;
          background-color: rgba($color-grey-5, 0.2);
          font-size: 10px;
          letter-spacing: 0;
          line-height: 11px;
          padding: 4px 20px;
          text-transform: uppercase;

          &:before {
            content: '';
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            height: 6px;
            width: 6px;
            background-color: $color-grey-5;
          }
        }
      }

      .subtitle {
        text-transform: uppercase;
      }
    }

    .card-buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;

      button {
        color: $color-2;
        margin: 0 10px;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        align-items: center;
        display: flex;

        &:first-child {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            right: -10px;
            height: 100%;
            width: 1px;
            background-color: $color-grey-3;
          }
        }

        p {
          padding-right: 10px;
          display: inline;
        }
      }
    }
  }

  .card-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: normal;
    color: $color-grey-8;
    margin-bottom: 20px;
    font-family: $font-family-1;
    font-size: 16px;
    line-height: 19px;

    .card-data_result {
      font-size: 14px;
      line-height: 22px;
      font-family: $font-family-2;
      max-width: 160px;
    }

    .notes {
      display: inline-flex;
      text-decoration: underline;
      color: $color-2;
      letter-spacing: 0;
      line-height: 22px;
      padding-right: 5px;
      font-size: 14px;
      max-width: 160px;
    }
  }
}
