@import 'styles/settings';

.c-data-detail {
  display: flex;
  flex-direction: column;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    h2 {
      padding: 15px 0;
      font-size: 24px;
      font-weight: bold;
      line-height: 29px;
    }
  }

  table {
    width: 100%;
    text-align: left;
    line-height: 19px;

    tbody {
      font-family: $font-family-2;
      font-size: 14px;
      font-weight: bold;

      td {
        padding-top: 20px;

        &.button {
          display: flex;
          justify-content: flex-end;

          .comments-button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $font-family-1;
            text-align: center;
            white-space: nowrap;
            box-sizing: border-box;
            color: $color-grey-8;
            font-weight: bold;
            line-height: 20px;
            font-size: 14px;
            border-radius: 3px;

            &.-primary {
              padding: 1px 5px;
              border: 2px solid rgba($color-2, 0.5);
            }

            &.-secondary {
              border: 2px solid rgba($color-grey-8, 0.5);
              box-shadow: 0 4px 12px 0 rgba($color-3, .02);
            }
          }
        }

        .tooltipped {
          font-weight: bold;
          text-decoration: underline;
          color: $color-2;
        }
      }
    }
  }
}
