@import 'styles/settings';

.c-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: $white;
  padding: $padding 100px;
  font-family: $main-font;

  h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
  }

  .footer-header {
    display: flex;
    padding: $padding 0;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  .footer-navigation {
    width: 100%;
    display: flex;
  }
}
