@import 'styles/settings';

.l-explore {
  background-color: $color-grey-1;
  font-family: $font-family-1;

  .results-section {
    padding: 0;
    display: flex;
    flex-direction: column;

    &.-large {
      padding: 40px 0;
    }

    .results-buttons {
      display: flex;
      justify-content: space-between;
      padding: 40px 0 100px 0;

      .results-filters {
        display: flex;
        align-items: center;

        :first-child {
          margin-right: 20px;
        }
      }

      &:after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -120px;
        left: 0;
        background-color: $color-grey-3;
      }
    }
  }

  .title {
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;

    span {
      font-size: 24px;
      line-height: 29px;

      &.-bold {
        font-weight: bold;
      }

      &.-italic {
        font-style: italic;
      }

      &:not(:last-of-type) {
        padding-right: 20px;
      }
    }
  }

  .print-only {
    display: none;

    @media print {
      display: block;
    }
  }
}
