@import 'styles/settings';


.results-buttons {
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid red;

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: $color-grey-3;
  }

  .filters {
    display: flex;
    align-items: center;

    &:first-child {
      margin-right: 20px;
    }
  }
}

