@import 'styles/settings';


  .login-modal-content {
    position: relative;
    padding: $padding-modal;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;

    h3 {
      width: 100%;
      color: #7B849C;
      font-size: 28px;
      line-height: 35px;

      span {
        color: $color-grey-8;
        display: block;
      }
    }

    form {
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 250px;
      justify-content: space-between;
      width: 100%;
      padding: 40px 0;

      label {
        color: $color-2;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 14px;

        &:not(:first-of-type) {
          padding-top: 20px;
        }
      }

      input {
        position: relative;
        font-style: italic;
        font-family: $font-family-1;
        display: block;
        border: none;
        padding: 0 0 10px 0;
        border-bottom: 2px solid $color-grey-8;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          height: 2px;
          background-color: $color-grey-8;
        }


        &:focus {
          color: $color-grey-8;
        }
      }
    }

    .text {
      color: $color-2;
      font-family: Aller;
      font-style: italic;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 16px;

      &.error {
        color: red;
      }
    }
  }


  .login-footer {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100%;
    background-color: $color-grey-2;
    border-radius: 0 0 10px 10px;

    p {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .c-login {

    .dropdown {
      padding: 5px 30px;
      border-radius: 9px;
      border: 2px solid $color-1;
      color: $color-1;
      line-height: 19px;
      font-size: 16px;
      font-family: $font-family-1;
      text-align: center;
      position: relative;
      margin-right: 5px;

      .dropdown-list {
        background-color: $white;
        display: none;
      }

      &:hover {
        color: rgba($color-grey-8, 1);

        .dropdown-list {
          pointer-events: all;
          box-sizing: border-box;
          padding: 20px;
          display: block;
          flex-direction: column;
          position: absolute;
          left: 0;
          top: 31px;
          min-width: 100px;
        }
      }
    }
  }
