@import 'styles/settings';
@import 'styles/mixins';

.c-download {
  color: $color-2;
  font-size: 14px;
  font-weight: bold;

  :first-child {
    padding: 0 15px;
  }

  &.-disabled {
    opacity: 0.3;
  }

  &.-dashed {
    display: flex;
    flex-direction: row-reverse;
    border: 1px dashed rgba($color-grey-8, 0.4);
    border-radius: $border-radius;
    padding: 20px 40px;
    color: $color-grey-5;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;

    &.-collapse {
      color: $color-grey-8;

      &.-small {
        position: relative;
        height: 45px;
        width: 45px;
        border-radius: $border-radius;
        background-color: $white;
        box-shadow: 0 4px 12px 0 rgba($black, .08);

        &:after {
          position: absolute;
          top: 18px;
          left: 18px;
          @include arrow(9px,2px, $color-grey-8, 'down');
        }
      }
    }
  }
}
