@import 'styles/settings';

.c-clear-filters-analysis {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  text-decoration: underline;
  color: $color-2;
  pointer-events: all;
  padding-bottom: 20px;
}

