@import 'styles/settings';

.c-map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

  .mapboxgl-popup {

    .mapboxgl-popup-tip {
      border-bottom-color: $color-grey-5;
      border-width: 5px !important;
    }

    .mapboxgl-popup-content {
      border-radius: 20px;
      padding: 10px;
      color: $white;
      background-color: $color-grey-5;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 14px;
    }

  }
}

