@import 'styles/settings';

.c-map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.c-map-container {
  height: 60vh; //header and search height
  position: relative;
}

.map-tooltip {
  background-color: $color-grey-5;
  position: absolute;
  color: $white;
  min-height: 100px;
  min-width: 100px;
  border-radius: 5px;
  padding: 10px;

  font-size: 12px;
}


