@import 'styles/settings';

.c-map {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;

  .mapboxgl-popup {

    .mapboxgl-popup-tip {
      border-bottom-color: $color-grey-5;
      border-width: 5px !important;
    }

    .mapboxgl-popup-content {
      border-radius: 20px;
      padding: 10px;
      color: $white;
      background-color: $color-grey-5;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 14px;
    }

  }
}

.c-map-container {
  width: 100vw;
  height: calc(100vh - 180px); //header and search height
  position: relative;

  .map-controls {
    position: absolute;
    right: 100px;
    top: 20px;

    .map-share {
      > button {
        width: 100%;
        height: 100%;
      }
    }

    // Mapbox override

    .mapboxgl-ctrl {
      > button {
        &.mapboxgl-ctrl-zoom-in,
        &.mapboxgl-ctrl-zoom-out {
          position: relative;
          width: 100% !important;
          height: 50% !important;

          > span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .mapboxgl-ctrl-group:not(:empty) {
      width: 45px;
      border-radius: $border-radius;
      box-shadow: 0 4px 12px 0 rgba($black, .08);
    }

    .mapboxgl-ctrl-group {

      button {
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }
    }

    .mapboxgl-ctrl-group {
      margin: 10px;

      button {
        span {
          display: none;
        }
      }
    }

    .map-navigation {
      height: 70px;

      > button[title='Zoom In'] {
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('./icons/zoomin.svg') !important;
      }

      > button[title='Zoom Out'] {
        border: none;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('./icons/zoomout.svg') !important;

      }

      > button[title='Reset North'] {
        display: none;
      }
    }

    .map-share {
      height: 45px;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('./icons/share.svg') !important;
    }

    .map-fullscreen {
      display: none;
    }
  }
}



