@import 'styles/settings';

.c-populations-selector-map-overview {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0px;
  z-index: 1;

  .populations-selector--content {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    border-radius: 0 0 10px 10px;
    background-color: $color-grey-5;
    color: $white;
    font-weight: bold;
    padding: 15px 30px;

    .populations-selector--content-info-wrapper {

      .populations-selector--content-info {

        display: flex;
        align-items: center;

        span {
          display: inline-flex;
          box-sizing: border-box;
          align-items: center;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 9px;
          padding: 5px;
          padding-left: 7px;
          color: $color-grey-8;
          align-content: center;
          text-align: center;
        }
      }

      h4 {
        font-size: 22px;
        letter-spacing: 0;
        line-height: 26px;
        padding-right: 10px;

      }

      h5 {
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 15px;
        padding-bottom: 5px;
        text-transform: uppercase;
      }

      p {
        font-family: $font-family-2;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;

        &.-italic {
          font-style: italic;
        }
      }

      .populations-selector--content-control {
        display: flex;
        align-items: flex-start;
        position: relative;

        button {
          background-color:$white;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          position: relative;

          svg {
            fill: $color-grey-5;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      &:not(:last-child) {
        padding-right: 30px;
      }
    }
  }

  &.-collapse {
    display: none;
  }
}
